.footer-span  .footer-hover-div{
    color: white;
    background: #3c2117
}
.footer-span:hover  .footer-hover-div{
    background: #4eb23e;
    color: #fff
}
.footer-span:hover{
  border-bottom: 1px solid #4eb23e;
}
footer{
  /* height: 50vh; */
  padding-block: 50px !important;
  background: linear-gradient(#0000001c, #0000001c), url(./../img/coffee-5417663_1280.png)center/cover
}