.footer-span  .footer-hover-div{
    color: white;
    background: #3c2117
}
.footer-span:hover  .footer-hover-div{
    background: #4eb23e;
    color: #fff
}
.footer-span:hover{
  border-bottom: 1px solid #4eb23e;
}